body {
    background-color: rgb(131, 127, 127);
    color: aliceblue;
    font-size: large;
}

ul {
    padding: 0;
}

li {
    color: black;
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px 0;
    background: #eee;
    border: 1px dotted #ddd;
}

button {
    color: green;
    height: 30px;
    border: 1px;
    border-radius: 10px;
}

#item {
    height: 30px;
    width: 210px;
}